<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="10627softlabpro.RSSAPI" Version="1.1.0.0" Publisher="CN=9AA670C4-81C9-40E2-B77E-C55F38B07B91" />
  <mp:PhoneIdentity PhoneProductId="f0bb5572-ce05-4a02-a4f9-67ffdb133f42" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>RSS API</DisplayName>
    <PublisherDisplayName>softlabpro</PublisherDisplayName>
    <Logo>images\slp50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m3:VisualElements DisplayName="rss.api" Square150x150Logo="images\slp150x150.png" Square44x44Logo="images\slp44x44.png" Description="windows.8.1.rss.api.WindowsPhone" ForegroundText="light" BackgroundColor="transparent" ToastCapable="true">
        <m3:LockScreen Notification="badgeAndTileText" BadgeLogo="images\slp24x24.png" />
        <m3:DefaultTile Square71x71Logo="images\slp71x71.png" Wide310x150Logo="images\slp310x150.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="images\slp480x800.png" BackgroundColor="#647687" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="js\background.js">
          <BackgroundTasks>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>